<div class="media">
  <div class="media-content">
    <strong><%= comment.name%></strong>
    <p><%= comment.content%></p>
  </div>
  <div class="media-right">
    <%= link_to '', post_comment_path(comment.post, comment),
                          method: :delete, 
                          data: { confirm: "Are you sure you would like to delete this comment?" },
                          class: "delete" %>
  </div>
</div> 